@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #969696;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 62.5%;  //10px
  font-weight: 400;
}

a:not(.outline),
input:not(.outline),
textarea:not(.outline),
button:not(.outline) {
  outline: none;
}

a:not(.text-decoration) {
  text-decoration: none;
}

ul:not(.list-style) {
  list-style: none;
}

button:not(.cursor) {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0 10px;
}

.main {
  flex-grow: 1;
}

.blockHide {
  display: none;
}

.blockRadio {

  & input[type="radio"] {
    display: none;

    &:checked {

      &+label {
        text-shadow: 0 0 1px;

        &::before {
          box-shadow: inset 0 0 0 7px #fff;
        }
      }
    }
  }

  & label {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-family: Roboto-Light, sans-serif;
    font-size: 2.6rem;
    line-height: 1.15;
    transition: text-shadow 0.5s;

    &::before {
      background-color: #AD7D80;
      border: 1px solid #AD7D80;
      border-radius: 50%;
      box-shadow: inset 0 0 0 15px #fff;
      content: '';
      flex-shrink: 0;
      height: 30px;
      margin-right: 20px;
      transition: box-shadow 0.5s;
      width: 30px;
    }
  }
}


.blockTextField {
  background-color: #fff;
  color: #121212;
  font-family: Roboto-Light, sans-serif;
  font-size: 2rem;
  line-height: 1.15;

  &::placeholder {
    color: rgba(173, 125, 128, 0.9);
  }

  &:-ms-input-placeholder {
    color: rgba(173, 125, 128, 0.9);
  }
}

.blockTitle {
  color: #AD7D80;
  font-family: IBMPlexSerif-Light, sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
}

.blockText {
  color: #121212;
  font-family: Roboto-Light, sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}

.blockBtn {
  align-items: center;
  background: linear-gradient(224.39deg, #35D5A5 2.1%, #00C7C5 32.94%, #2D9BE0 57.62%, #5277F7 71.52%, #5B75F6 79.13%, #7370F4 91.42%, #836DF3 98.23%);
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  line-height: 1;
  padding: 12px;
}

.linkHover {
  display: inline-block;;
  position: relative;

  &::before {
    background-color: #5277f7;
    border: none;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    width: 100%;
  }

  &:hover::before {
    opacity: 1;
  }

}

.btnHover {
  transition: linear-gradient 0.3s;

  &:hover {
    background: linear-gradient(#d4dbf2, #d4dbf2);
  }
}

.preloader {
  background: url(../img/common/preloader.gif) no-repeat center, #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*Header*/

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaefff;
  position: relative;
  z-index: 6;
}

.header__body {
  padding: 10px 0;
}

.header__logo {
  height: 42px;
  padding: 0;
  width: 93px;
}

.header__menu {
  display: none;

  & ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    margin: 0 -20px 0 auto;

    & li {

      & a {
        color: #819ec7;
        font-size: 2.1rem;
        font-style: italic;
        line-height: 1.38;
        padding: 5px 0;
      }
    }
  }
}

.header__social {
  align-self: center;

  & ul {
    align-items: center;
    display: flex;

    & li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      & a {
        display: block;
        height: 40px;
        width: 40px;

        & svg {
          fill: #d4dbf2;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.header__mainSocial {
  display: none;
  transition: fill 0.3s;

  & ul {
    justify-content: flex-end;
  }


  & svg {

    &:hover {
      fill: url(#gradient-social-main);
    }
  }

}

.header__btn {
  border-radius: 40px;
  display: none;
  font-family: OpenSans-Bold, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 405px;
}

.header__burgerIcon {
  background-color: #273b98;
  border: none;
  border-radius: 50%;
  height: 42px;
  position: relative;
  width: 42px;

  & span {
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transform-origin: left center;
    transition: top 0.5s, opacity 0.5s, transform 0.5s;
    width: 48%;

    &:nth-child(1) {
      top: 33%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 67%;
    }
  }

  &.active {

    & span {

      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg) translateX(-50%);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg) translateX(-50%);
      }
    }
  }
}

.header__burgerContainer {
  background-color: rgba(0,0,0,0.03);
  height: 100%;
  left: 0;
  opacity: 0;
  padding-top: 63px;
  position: absolute;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 5;

    & .header__burgerBodyWrapper {
      transform: translateY(0);
    }
  }
}

.header__burgerBodyWrapper {
  background-color: #ffffff;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.header__burgerBody {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.header__burgerMenu {

  ul {
    display: flex;
    flex-direction: column;

    & li {
      border-bottom: 1px solid #e5e5e5;

      & a {
        color: #000000;
        font-size: 1.8rem;
        line-height: 1.39;
        padding: 13px 0;
      }
    }
  }
}

.header__burgerBtn {
  align-self: center;
  margin: 20px 0;
  min-width: 300px;
}

.header__burgerSocial {
  transition: fill 0.3s;

  & svg {

    &:hover {
      fill: url(#gradient-social-burger);
    }
  }
}


/*End Header*/


/*Footer*/

/*End Footer*/

